@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/* TABLE OF CONTENTS */

/* =====================
1. Global Styles
2. Body
3. 
4. 
5. 
6. 
7. 
====================== */

/* =======================
1. GLOBAL STYLES
=========================*/

:root {
  --clr-primary: #161515;
  --clr-primary-light: #b5bb98;
  --clr-secondary: #436346;
  --clr-tertiatry: #532f52;
  --clr-red: #c44536;
  --clr-grey: #4e4545;
  --clr-grey-light: #eee;
  --ff-primary: 'Roboto';
  --transition: all 0.4s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  /* background-color: #1b4e4e; */
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* =======================
2. BODY
=========================*/

body {
  background: linear-gradient(#267cdf, #000000e3);
}

.page-container {
  background-color: #267cdf;
  height: 50vh;
}

.card-container {
  width: 90vh;
  max-width: 730px;
  min-width: 550px;
  height: 25rem;
  background-color: #f0f0f0;
  border-radius: 1.5rem;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 2rem 1rem 3rem;
}

.card-container img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid var(--clr-grey);
  padding: 5px;
  background-color: white;
}

.user-title {
  font-size: 1.5rem;
  margin: 0.2rem 0;
}

.user-value {
  font-size: 2.2rem;
  margin-bottom: 0.75rem;
}

.icon {
  background: transparent;
  border: transparent;
  font-size: 1.75rem;
  cursor: pointer;
  color: var(--clr-grey);
  transition: var(--transition);
}

.icon:hover {
  color: #69c7ec;
}

.active {
  color: #69c7ec;
}

.btn {
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 2px 20px;
  border-radius: 10px;
  background-color: #69c7ec;
  transition: var(--transition);
  color: #383838;
  cursor: pointer;
}

.btn:hover {
  color: #69c7ec;
  background-color: #14148d;
}
